## **Question 1**

In [ ]:
mylist=[]
for x in range(2000,3201):
  if x%7==0 and x%5!=0:
    mylist.append(x)
print(mylist)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

# **Question 2**

In [ ]:

def fact(n):
 if n==0:
  print("Le factoriel de 0 est égal à 1" )
 elif n<0:
  print("ERREUR:les entiers négatifs ne sont pas acceptés")
  n1=int(input('Veuillez retapez une valeur : '))
  fact(n1)
 else:
  f=1
  for x in range(1,n+1):
   f=f*x
  print("Le factoriel de",n,"est",f)

In [ ]:
n2=int(input('Donnez une valeur : '))
fact(n2)

Donner une valeur : -9
ERREUR:les entiers négatifs ne sont pas acceptés
Veuillez retapez une valeur : 5
Le factoriel de 5 est 120

# **Question 3**

In [ ]:

n=int(input("Donnez une valeur: "))
keys=[]
for i in range(1,n+1):
  keys.append(i)
print("keys=",keys)
values=[]
for i in range (1,n+1):
  values.append(i*i)
print("values=",values)
mydict=dict(zip(keys,values))
print(mydict)

Donnez une valeur: 4
keys= [1, 2, 3, 4]
values= [1, 4, 9, 16]
{1: 1, 2: 4, 3: 9, 4: 16}

# **Question 4**

In [ ]:
mystr=input("tapez un mot: ")
n=int(input("tapez une valeur: "))
print(mystr[0:n]+mystr[n+1:])

tapez un mot: kitten
tapez une valeur: 4
kittn

# **Question 5**

In [ ]:
import numpy as np
array=np.array([[0,1],[2,3],[4,5]])
mylist1=array.tolist()
print("original array: ",array)
print("array to list: ",mylist1)

original array:  [[0 1]
 [2 3]
 [4 5]]
array to list:  [[0, 1], [2, 3], [4, 5]]

# **Question 6**

In [ ]:
import numpy as np
x=[0, 1, 2]
y=[2, 1, 0]
covariance=np.cov(x,y)
print("original array 1: ",x)
print("original array 2: ",y)
print("covariance: ",covariance)

original array 1:  [0, 1, 2]
original array 2:  [2, 1, 0]
covariance:  [[ 1. -1.]
 [-1.  1.]]

# **Question 7**

In [ ]:
C=(50,50,50)
H=(30,30,30)
#a, b, c=map(int,input("donnez trois valeurs: ").split(','))
a, b, e=[int(x) for x in input("donnez trois valeurs: ").split(',')]
D=a,b,e
print(D)
type(D)
Q=tuple(map(lambda x,y,z,r: round((x*y*z/r)**0.5),(2,2,2),C,D,H))
print(Q)

donnez trois valeurs: 1,2,3
(1, 2, 3)
(2, 3, 3)

In [ ]:
C=50
H=30
a, b, e=[int(x) for x in input("donnez trois valeurs: ").split(',')]
D=a,b,e
print(D)
print(type(D))
result=[]
for i in D:
 Q=round((2*C*i/H)**0.5)
 result.append(Q)
print(result)

donnez trois valeurs: 1,2,3
(1, 2, 3)
<class 'tuple'>
[2, 3, 3]